* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  margin: auto;
}
p,
li,
a {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
.show-more,
.filters,
#title-section {
  font-family: "Raleway";
  font-weight: 700;
}

h2,
.title {
  margin-left: 12px;
}

/* 
 Header
*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
  }
  nav a {
    padding: 10px 20px;
  }
  .LogoBooki {
    height: 60px;
    padding: 10px 0 30px 40px;
  }
  header nav ul li {
  margin: 0px 20px 0px 20px;
}

/* 
 Nav
*/
 header ul {
  display: flex;
  list-style: none;
  color: #0065fc;
  padding-bottom: 22px;
}
nav a:hover{ 
  border-top: 2px solid #0065fc;
  color: #0065fc;
  padding-top: 40px;
  color: #0065fc;
  width: 150px;
}
a {
  text-decoration: none;
  color: #000000;
}
/* 
 Search
*/
h1{
  font-size: 22px;
}
h2{
  font-size: 19px;
  font-weight:400;
  margin-left: 0%;
}
.search {
font-size: 22px;
margin-left: 40px;
line-height: 15px;
}
input {
  width: 286px;
  height: 49px;
  border-width: 1px 0 1px 0;
  border-color: #f2f2f2;
  border-style: solid;
  padding: 12px;
  margin-right: -20px;
  position: relative;
  z-index: 1;
}
input::placeholder{
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 18px; 
}
input:hover{
  background: #deebff ;
}
button{
  font-family: "Raleway", sans-serif;
  height: 49px;
  width: 132px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background: #0065fc;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.fas.fa-map-marker-alt{
  background: #f2f2f2;
  height: 49px;
  width: 50px;
  text-align: center;
  padding:10px;
  margin-right: -5px;
  border-radius: 10px 0 0 10px;
}
/* 
 Filtres
*/

.filters {
  display: flex;
  align-items: center;
  margin: 20px 5px;
  flex-wrap: nowrap;
  gap: 10px;
}
.filters-title {
  margin-right: 2%;
}
h5{
  font-size: 19px;
}
.filters-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.filters-content {
  display: flex;
}
.filters-icons {
  width: 52px;
  height: 52px;
  color: #0065fc;
  margin-left: 5px;
  margin-right: -10px;
}
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-text {
  padding: 10px;
  font-size: 17px;
}
.filters-search:hover {
  background-color: #DEEBFF;
  font-weight: bold;
}
/* 
 Infobar
*/
.Infobar{
  display: flex;
  align-items: center;
margin: 20px 5px;
  gap: 0px;
  }

.InfoLogo{
  width: 24px;
  height: 24px;
  border: 2px solid #D9D9D9;
  border-radius: 20px;
}
i.fas.fa-info{
  color: #0065fc;
  padding-left: 7px;
  padding-top: 9px;
}
/* 
 Hebergement
*/
main{
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}
section.content{
  display: flex;
  flex-direction: row;
}
#Hebergement {
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid #ffffff;
  border-radius: 20px;
  margin-right:30px;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
article{
  width: 30%;
  border: 4px solid #ffffff;
  border-radius: 20px;
  line-height: 10px;
  margin-top: 7px;
  margin-bottom: 30px;
  background-color: #fff;
}
article , p, h4 {
  font-size: 16px;
  margin-left: 12px;
  line-height: 5px;
}
h3{
  font-size: 16px;
  margin-left: 12px;
  line-height: 15px;
}
article img{
  width: 100%;
  height: 126px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.show-more {
  margin: 40px 0 10px 20px;
}
.show-more a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration: none;
  color: #0065fc;
}
.fas.fa-star.grey {
  color: #dcdcdc;
}
.stars-popular{
  width: 110%;
}
.stars {
  margin: 15px;
  color: #0065fc;
}
/* 
 Sponso
*/
aside{
  flex: 40%;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px;
}

.popular {
  width: 96%;
  margin-bottom: 60px;
  margin-top: -30px;
}
.popular a {
  display: flex;
}
.popular img {
  width: 40%;
  border-radius: 20px 0 0 20px;
  height: 150px;
  object-fit: cover;
}
.popular-card {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-left: 10px;
  position: relative;
}
.popular-title {
  line-height: 16px;
  padding-left: 15px;
  margin-bottom: -10px;
  margin-top: 10px;
}
#title-popular {
  margin-left: 5px;
  padding-bottom: 30px;
  
}
.popular-text {
  padding-bottom: 50px;
  padding-left: 15px;
}
.stars-popular {
  padding-top: 95px;
  padding-left: 15px;
  position: absolute;
  margin-top: 33px;
  color: #0065fc;
}

.fa-chart-line {
  margin-right: 22px;
  color: #0065fc;
}
#title-popular {
  display: flex;
  justify-content: space-between;
}
h6{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
p6{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
/* 
 Activité
*/
#container-activity{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  align-content: stretch;
}
.block-activity{
  width: 23%;
  display: flex;
  flex-direction: column;
}
.activity{
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 2px #c0c0c0;
}
#title-section {
  margin-top: 5%;
}
.activity-img {
  height: 370px;
}
.name-activity {
  padding: 0 0px 5px 5px;
}
.name-activity {
  font-size: 16px;
  margin-top: 25px;
}
.name-activity1{
  font-size: 16px;
  padding: 0px 0px 0px 5px;
  padding-right: 4px;
}
.name-activity2{
  font-size: 16px;
  padding: 0px 0px 0px 5px;
  padding-right: 28px;
}
/* 
 Footer
*/

footer{
  width: 95%;
  margin-left: 35px;
  display: flex;
  background: #f2f2f2;
}
footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
footer li {
  margin-bottom: 5px;
}

.col_footer {
width: 33%;
padding: 3%;
}
h7{
font-weight: 700;
font-size: 18px;
margin-left: 43px;
}

/* 
 Tab
*/
@media screen and (min-width: 768px) and (max-width: 991px)  {
  .menu{
    padding-right: 20px;
  }
.filters-text{
  font-size: 17px;
}
  #Hebergement{
    width: 96.4%;
    margin-left: 13px;
  }
  section.content {
    display: flex;
    flex-direction: column;
  }

  .cards-container {
    justify-content: space-around;
    margin-bottom: -20px;
  }
 .show-more{
  margin-top: 25px ;
  padding-bottom: 10px;
 }
  .cards-container article {
    width: 30%;
  }
  aside{
    margin-left: 14px;
    margin-top: 40px;
    width: 96%;
    display: flex;
    flex-direction:column;
  }
  .AllPopContainer{
    display: flex;
    justify-content: space-around;
    margin-bottom: -30px;
  }
  .popular{
    width: 30%;
  }
  .popular-card {
  height: 140px;
  width: 150px;
  }
  .popular-title{
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .activity-section{
    margin-left: 11px;
    width: 97%;
  
  }
  .activity-img{
    height: 240px;
  }
  .name-activity>h3{
    font-size: 16px;
    line-height:90%;
    margin-top: 14%;
  }
  .name-activity>h4{
    font-size: 16px;
    line-height:90%;
    margin-top: -12%;
  }
  footer{
    margin-left: 44px;
    width: 90.1%;
  }
}

/* 
 Mobile
*/
@media screen and (min-width: 0px) and (max-width: 767px)  {
  header{
    flex-direction: column;
    margin-left: -3%;
   }
 .LogoBooki {
  height: 20px;
  padding: 0%;
  margin-bottom: 15%;
}
header nav ul li {
  width: 300%;
  text-align: center;
  margin: 0px;
  border-top: none;
}
header nav ul {
  margin: 0px;
  padding: 0;
}
nav {
  width: 100%;
}
nav a{
  padding: 25px 0px;
  display: block;
  border-bottom: 3px solid #dcdcdc;
  
}
nav a:hover{ 
  border-top: 0;
  border-bottom: 3px solid #0065fc;
  width: 100%;
  padding-top: 25px;
}
h1{
  margin-left: -3%;
  padding-right: 30%;
  line-height: 25px;
}
h2 {
font-size: 16px;
line-height: 19px;
margin-left: -3%;
}
.search-btn{
  display: none;
}
.search-content{
  margin-left: -3%;
}
 input[type="search"]{
  width: 73.6%;
}
.fas.fa-search {
  align-items: stretch;
  background: #0065fc;
  color: #f2f2f2;
  width: 55px;
  text-align: center;
  padding-top: 10.5px;
  padding-bottom: 16.5px;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  z-index: 2;
  position: relative;
}
.Infobar{
  margin-left: -4%;
}
.filters {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-left: -3%;
  margin-top: 2%;
}
.filters-text{
  text-align: start;
  font-size: 11px;
  padding-left: 5%;
  width: 100%;
  white-space: nowrap;
}
#title-popular{
  padding-right: 0%;
}
.filters-content,.filters-search {
  width: 100%;
  flex-wrap: nowrap;
}

section.content {
  display: flex;
  flex-direction: column-reverse;
  margin-left: -3%;
  margin-right: -3%;
}
p{
  line-height:100%;
}
  
aside{
  width: 100%;
  border-radius: 0px;
  margin: 0%;
  padding-left: 3.3%;
  padding-right: 0%;
}
article img{
  height: 140px;
  padding: 1%;
  border-radius: 25px 25px 0 0;
}
#Hebergement{
  width: 90%;
  border-radius: 0px;
  padding-bottom: 0%;
  padding-left: 2%;
  padding-right: 0.5%;
  background-color: #FEFEFE;
}
.hebergement-card{
  border: 0.2px solid #D9D9D9;
  border-radius: 25px;
}
.cards-container{
  flex-direction: column;
  width:364%;
}
.show-more{
  display: none;
}
  #container-activity {
    flex-direction: column;
  }
  .block-activity{
    width: 100%;
  }

  .activity-section{
    padding-left: 5%;
    padding-right: 0%;
  }
  .activity{
    margin-left: -6%;
    margin-right: 0%;
  }
  .activity-img{
    height: 240px;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 15px 15px 0 0;
  }
  h3{
    padding-bottom: 2%;
  }
  .col_footer {
    width: 375px;
    padding: 0 0px 0 0px;
    margin-top: 20px;
    margin-left: -3%;
  }
  footer  {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0%;
  }
}

