
.logo-reservia {
    position: absolute;
    width: 393px;
    height: 852px;
    left: 54px;
    top: 54px;
}
.LogoBooki {
    position: absolute;
    width: 61.09px;
    height: 19px;
    left: 0px;
    top: 0px;
}

h1 {
    position: absolute;
    width: 582px;
    height: 26px;
    left: 53.5px;
    top: 129px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22.1209px;
    line-height: 26px;
    color: #000000;
    white-space:nowrap;
}

P {
position: absolute;
width: 296px;
height: 19px;
left: 55px;
top: 170px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}

.search-content{
position: absolute;
width: 332px;
height: 49px;
left: 55px;
top:229px;
}

.fas.fa-map-marker-alt {
    position: absolute;
    border: 17px solid #f2f2f2;
    border-radius: 10px 0 0 10px;
    border-top-width: 16px ;
    border-left-width: 21px;
}


input::placeholder {
    font-family: "Raleway";
    color: #070707;
    font-weight: bold;
    opacity: 1;
    font-size: 12px;
}
button {
    height: 44px;
    background: #0065fc;
    color: #ffffff;
    padding: 25px 15px;
    border: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    position: absolute;
}
.search-btn {
    margin-left: 70px;
    line-height: 0px;
    font-size: 22px;
    font-family: "Raleway";
}
input {
    border-width: 1px 0 1px 0;
    border-color: #f2f2f2;
    border-style: solid;
    padding: 16px;
    margin-right: -20px;
    position: relative;
    
    left: 15%;
}

.filters-text1,.filters-text3,.filters-text2,.filters-text4{
    position: absolute ;
    width: 103px;
    height: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
    left: 50px;;
    top:13px;
}

.filtersFond1{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 20px;
    position: absolute;
    width: 175px;
    height: 48px;
    left: 98px;
    top: 27px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filtersFond1:hover,.filtersFond2:hover,.filtersFond3:hover,.filtersFond4:hover {
    color: #deebff;
    background-color: #DEEBFF;
  }

i.fa-solid.fa-money-bill-wave,.fa-solid.fa-person.fa-xl,.fas.fa-heart.filters-icons,.fas.fa-dog.filters-icons{
    position: absolute;

    color: #0065FC;
    width: 22px;
    height: 22px;
}
i.fas.fa-dog.filters-icons{
    top: 22.5px;
    bottom: 13.04%;
    right: 83%;
}
i.fas.fa-heart.filters-icons{
    top: 22.5px;
    bottom: 13.04%;
    right: 77%;
}
i.fa-solid.fa-person.fa-xl{
    top: 22.5px;
    bottom: 13.04%;
    right: 67%;
}
i.fa-solid.fa-money-bill-wave{
    top: 22.5px;
    bottom: 13.04%;
    right: 77%;
}

.filtersFond2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 20px;
    position: absolute;
    width: 136px;
    height: 48px;
    left: 316px;
    top: 27px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filtersFond3{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 20px;
    position: absolute;
    width: 172px;
    height: 48px;
    left: 500px;
    top: 27px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filters-text4{
    white-space : nowrap;
}
.filtersFond4{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 20px;
    position: absolute;
    width: 226px;
    height: 50px;
    left: 715px;
    top: 27px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}


.Infobar {
    position: absolute;
    width: 447px;
    height: 24px;
    left: px;
    top:90px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

i.fa-solid.fa-info{
    position: absolute;
    left: 1.45%;
    right: 96.87%;
    top: 29.17%;
    bottom: 29.17%;
    color: #0065FC;
}
i.fa-regular.fa-circle.fa-2x{
    position: absolute;

    right: 94.4%;
    top: 1px; 
    color:#D9D9D9;
}

p2 {
    position: absolute;
    width: 412px;
    height: 19px;
    left: 35px;
    top: 8px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;   
}

.menu {
 position: absolute;
width: 381px;
height: 91px;
left: 982px;

}
.Activités{
position: absolute;
left: 83.46%;
right: 0%;
top: 0%;
bottom: 0%;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
text-decoration:none;
padding-top: 45px;
}

.Hébergements{
    position: absolute;
left: 36.22%;
right: 34.12%;
top: 0%;
bottom: 0%;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #000000;
text-decoration:none;
padding-top: 45px;
}
ul{
    list-style: none;
}


header ul {
    display: flex;
    list-style: none;
    color: #0065fc;
}
  nav a:hover {
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

.FilterBar {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 62px;
    top: 280px;    
}

h2 {
    position: absolute;
    width: 54px;
    height: 21px;
    left: px;
    top:24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

.SectionHébergement {
    position: absolute;
    width: 880px;
    height: 626px;
    left: 50px;
    top: 426px;
    
}

.RectangleHébergement {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F2F2F2;
    border-radius: 20px;
}
h3{
    position: absolute;
    left: 4.55%;
    right: 63.86%;
    top: 3.3%;
    bottom: 89.14%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    white-space : nowrap;
}

p14 {
    position: absolute;
    left: 5%;
    right: 82.84%;
    top: 89.3%;
    bottom: 7.35%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.CardMain1 {
    position: absolute;
    left: 4.55%;
    right: 67.5%;
    top: 14.54%;
    bottom: 53.67%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.RectangleCardMain1 {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain1{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}


.CardMain2{
    position: absolute;
    left: 36.02%;
    right: 36.02%;
    top: 14.54%;
    bottom: 53.67%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleCardMain2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain2{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}

.CardMain3{
    position: absolute;
    left: 67.5%;
    right: 4.55%;
    top: 14.54%;
    bottom: 53.67%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleCardMain3{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain3{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
}


.CardMain4{
    position: absolute;
    left: 4.55%;
    right: 67.5%;
    top: 51.12%;
    bottom: 17.09%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleCardMain4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain4{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
} 
   


.CardMain5{
    position: absolute;
    left: 36.02%;
    right: 36.02%;
    top: 51.12%;
    bottom: 17.09%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleCardMain5{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain5{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
} 
   

.CardMain6{
    position: absolute;
    left: 67.5%;
    right: 4.55%;
    top: 51.12%;
    bottom: 17.09%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleCardMain6{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoCardMain6{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.69%;
    background: url(Image/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
} 
   
h11,h10,h9,h8,h7,h21 {
    position: absolute;
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 36px);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

p20,p19,p18,p17,p16,p15 {
    position: absolute;
    width: 204px;
    height: 15px;
    left: 16px;
    top: calc(50% - 15px/2 + 60px);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.stars {
    position: absolute;
    margin: 0 10px 5px 10px;
    color: #0065fc;
    font-size: 12px;
    top: 151%;
}

.fas.fa-star.grey {
    color: #dcdcdc;
}

p24{
    position: absolute;
    left: 5%;
    right: 82.84%;
    top: 89.3%;
    bottom: 7.35%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.SectionPopulaire{
    position: absolute;
    width: 420px;
    height: 625px;
    left: 949px;
    top: 428px;
}

p25{
   position: absolute;
    width: 205px;
    height: 26px;
    left: 957px;
    top: 451px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000; 
    white-space : nowrap;
} 
i.fa-solid.fa-chart-line{
    position: absolute;
    left: 86%;
    right: 0%;
    top: 7.5%;
    bottom: 0%;
    color: #0065FC;
} 
.SectionSponso{
    position: absolute;
    width: 420px;
    height: 625px;
    left: 970px;
    top: 427px;
}    
p25{
    position: absolute;
    left: 9%;
    top: 6.71%;
    width: 205px;
    height: 26px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.RectanglePopulaire{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #F2F2F2;
    border-radius: 20px;
}

.RectangleSponsoCard1{ 
    width: 343px;
    height: 144px;
    position: absolute;
    left: 9%;
    right: 0%;
    top: 14.54%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoSponsoCard1{
    position: absolute;
    width: 137px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: url(Image/hebergements/1_xlarge/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}

.RectangleSponsoCard2{ 
    width: 343px;
    height: 144px;
    position: absolute;
    left: 9%;
    right: 0%;
    top: 43%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoSponsoCard2{
    position: absolute;
    width: 137px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: url(Image/hebergements/1_xlarge/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.RectangleSponsoCard3{ 
    width: 343px;
    height: 144px;
    position: absolute;
    left: 9%;
    right: 0%;
    top: 72%;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 20px;
}

.PhotoSponsoCard3{
    position: absolute;
    width: 137px;
    left: 0px;
    top: 0%;
    bottom: 0%;
    background: url(Image/hebergements/1_xlarge/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.TexteSponsoCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    position: absolute;
    width: 169px;
    height: 60px;
    left: 152px;
    top: 16px;
}
.TexteSponsoCard2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
    position: absolute;
    width: 169px;
    height: 41px;
    left: 152px;
    top: 16px;
    
}
h12{
    width: 169px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
P21{
    width: 169px;
    height: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
} 
h12,h13{
    width: 169px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h13{
    width: 169px;
    height: 19px;
}

.SponsoStars{
    position: absolute;
    left: 44.31%;
    top: 83.33%;
    bottom: 8.33%;
    margin: 0 10px 5px 10px;
    color: #0065fc;
    font-size: 12px;
}
.SectionActivité{
    position: absolute;
    width: 1337px;
    height: 493px;
    left: 50px;
    top: 1112px;
}
.Activité1{
    position: absolute;
    width: 302px;
    height: 444.51px;
    left: 50px;
    top: 1160.49px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.RectangleActivitéCard1,.RectangleActivitéCard2,.RectangleActivitéCard3,.RectangleActivitéCard4{
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.PhotoActivitéCard1,.PhotoActivitéCard2,.PhotoActivitéCard3,.PhotoActivitéCard4{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(Image/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.RectangleTitreActivitéCard1,.RectangleTitreActivitéCard2,.RectangleTitreActivitéCard3,.RectangleTitreActivitéCard4{
    position: absolute;
    height: 56px;
    left: 0%;
    right: 0%;
    bottom: -0.49px;
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}
h15,h16,h17,h18{
    position: absolute;
    width: 247px;
    height: 15px;
    left: 19px;
    bottom: 20.51px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.Activité2{
    position: absolute;
    width: 302px;
    height: 445px;
    left: 395px;
    top: 1160px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.PhotoActivitéCard2{
    background: url(Image/activites/1_xlarge/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.Activité3{
    position: absolute;
    width: 302px;
    height: 444.51px;
    left: 740px;
    top: 1160.49px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.PhotoActivitéCard3{
    background: url(Image/activites/1_xlarge/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.Activité4{
    position: absolute;
    width: 302px;
    height: 445px;
    left: 1085px;
    top: 1160px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.PhotoActivitéCard4{
    background: url(Image/activites/1_xlarge/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
.footer {
    position: absolute;
    width: 1440px;
    height: 191px;
    left: 0px;
    top: 1666px;
    
}

.Centreaide {
    position: absolute;
    left: 65.69%;
    right: 27.57%;
    top: 45.03%;
    bottom: 45.03%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    white-space:nowrap;
    text-decoration: none;
}

.Nouscontacter {
    position: absolute;
    left: 65.69%;
    right: 26.39%;
    top: 61.26%;
    bottom: 28.8%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    white-space:nowrap;
    text-decoration: none;
}

h6 {
    position: absolute;
    left: 37.64%;
    right: 50.9%;
    bottom: 47%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-decoration: none;
}

.Chartequalite {
position: absolute;
left: 37.64%;
right: 55.14%;
top: 45.03%;
bottom: 45.03%;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
text-decoration: none;
}

.Proposerhotel {
    position: absolute;
    left: 37.64%;
    right: 51.94%;
    top: 61.26%;
    bottom: 28.8%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

h5 {
    position: absolute;
    left: 8.19%;
    right: 86.46%;
    top: 4.56%;
    bottom: 65.45%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    
}

.DonnéesConfidetialité {
    position: absolute;
    left: 8.19%;
    right: 78.33%;
    top: 77.49%;
    bottom: 12.57%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    text-decoration: none;
}

.FonctionnementSite {
    position: absolute;
    left: 8.19%;
    right: 79.58%;
    top: 45.03%;
    bottom: 45.03%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}

.CondiGenerales {
    position: absolute;
    left: 8.19%;
    right: 80.9%;
    top: 61.26%;
    bottom: 28.8%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000; 
    text-decoration: none;  
}

.rectanglefooter {
    position: absolute;
    left: 3.33%;
    right: 3.68%;
    top: 0%;
    bottom: -10.84%;
    background: #F2F2F2;
}

@media screen and (max-width: 768px) {
body {
    width: 100%;
}
html {
    width: 100%;
}
.SectionPopulaire{
    display: flex;
    flex-direction: column;
}
.menu{
    position: absolute;
    width: 381px;
    height: 19px;
    left: 321px;
    top: 8px;
}
h1{
    left: 72px;
    top: 121px;
}
p{
left: 72px;
}
.FilterBar{
    position: absolute;
    width: 20%;
    height: 50px;
    left: 72px;
    top: 270px;
    margin-right: 55px;
}

}